[defaults]
interpreter_python = auto_legacy_silent
host_key_checking = False
force_valid_group_names = never
deprecation_warnings=False
inventory      = ./inventory.ini
ansible_user = ansible
remote_user = root
